/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #717171;
}

/* Chỉnh lại nền và màu chữ khi bôi đen */
::selection {
  background-color: #ec7532;
  color: white;
}
/* Tạo hiệu ứng đường kẻ hover sử dụng after */

.line::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  /* Hướng trải màu: trên dưới trái phải
    to right: trái qua phải
    to bottom: từ trên xuống
    ngược lại ...  
    - Giá trị sau dấu phảy: màu bắt đầu
    - Giá trị tiếp theo: màu kết thúc*/
  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  transition: all 0.5s;
}

.line:hover::after {
  width: 100%;
}

.line.active::after {
  width: 100%;
}

/* Tạo class dùng chung tạo khoảng cách giữa các phần */
.section {
  padding: 75px 0;
}

/* Tạo class design cho phần tiêu đề mỗi phần */
.title {
  color: #ec7532;
  font-size: 1.125rem;
  border-bottom: 1px solid #d8d8d8;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 40px;
}

.title::after {
  content: "";
  display: block;
  width: 125px;
  height: 4px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  margin-top: 20px;
}

.title--white {
  color: white;
  border-color: #333;
}
/* HEADER */
header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.header__top p {
  font-size: 14px;
  font-weight: bold;
}

#navbarCyberMovie .navbar-nav .nav-link {
  color: white;
  letter-spacing: 3px;
  line-height: 0.8em;
  padding: 20px 24px;
}

/* Tạo đường kẻ dài sử dụng border-bottom */
#navbarCyberMovie .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* HEADER SCROLL */
#headeFixed {
  background-color: #101010;
  position: fixed;
  top: 0;
  /* Bản chất position nó sẽ làm mất kích thước của thẻ được xét
  nên cần xét lại width cho thẻ */
  width: 100%;
  transform: translate(-50%, -100%);
  transition: transform 0.5s;
  z-index: 20;
}

/* CAROUSEL */
#movieCarousel {
  height: 650px;
}

#movieCarousel .carousel-inner {
  height: 100%;
}

#movieCarousel .carousel-item {
  height: 100%;
  background-position: center;
  background-size: cover;
}

#movieCarousel .carousel-item:first-child {
  background-image: url(../img/hero-1.jpg);
}

#movieCarousel .carousel-item:nth-child(2) {
  background-image: url(../img/hero-2.jpg);
}

/* Không nên dùng :last-child vì chưa biết sau này có thêm hình nào ko */
#movieCarousel .carousel-item:nth-child(3) {
  background-image: url(../img/hero-3.jpg);
}

/* Chỉnh vị trí caption sử dụng top, left, transform vs position: absolute */
#movieCarousel .carousel-item .carousel-caption {
  text-align: left;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* So sánh :first-child: ưu tiên thứ tự -> loại thẻ
 vs 
 :first-of-type: ưu tiên loại thẻ -> thứ tự*/
#movieCarousel .carousel-caption p:first-of-type {
  color: #fbbd61;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 0;
  animation-delay: 0.5s;
}

#movieCarousel .carousel-caption p:last-of-type {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

#movieCarousel .carousel-caption h2 {
  font-size: 3.25rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.movieCarousel__trailer {
  animation-delay: 0.5s;
}

.movieCarousel__trailer > span {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 0.8rem;
  text-align: center;
  line-height: 48px;
  margin-right: 8px;
}

.movieCarousel__trailer button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  color: white;
  outline: none;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  position: relative;
  /* Giải quyết việc lộ before */
  overflow: hidden;
}

.movieCarousel__trailer button:hover {
  color: white;
}
/* Tip xây dựng hiệu ứng cho button */

/* Bước 1: Xây dựng overlay phủ lên thẻ cha button */
.movieCarousel__trailer button::before {
  content: "";
  display: block;
  width: 110%;
  height: 100%;
  background-color: #ec7532;
  position: absolute;
  top: 0;
  left: 0;
  /* Lưu ý không tạo 2 transform trong cùng 1 vùng style */
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.5s;
  /* opacity: 0; */
  z-index: 1;
}

.movieCarousel__trailer button:hover::before {
  transform: skewX(30deg) translateX(-10px);
  /* opacity: 1; */
}

.movieCarousel__trailer button span {
  position: relative;
  z-index: 2;
}

/* EDIT INDICATOR */

#movieCarousel .carousel-indicators {
  justify-content: flex-start;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  margin-right: 0;
  margin-left: 0;
  padding-left: 15px;
  padding-right: 15px;
}

#movieCarousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  opacity: 1;
  box-sizing: border-box;
  background-clip: border-box;
}

#movieCarousel .carousel-indicators li.active {
  background-color: white;
}

/* Tạo hiệu ưng tối cho background */

.cyberMovieCarousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

/* NEW IN */

.new__title {
  text-align: center;
}

.new__title h3 {
  font-size: 18px;
  color: #4a4a4a;
  margin: 1rem 0;
}

.new__title i {
  color: #fbbd61;
}

/* Xử lý hiệu ứng hover cho phần new__content */
.new__img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.new__overlay {
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  position: absolute;
  opacity: 0.9;
  transform: skewX(30deg) translateX(-150%);
  transition: all 0.5s;
}

.new__img:hover .new__overlay {
  transform: skewX(30deg) translateX(-30%);
}

/* Xử lý phần icon play */

.new__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.new__play i {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  /* transform: scale(1); */
  transition: all 0.5s;
}

.new__play i:hover {
  transform: scale(0.9);
}

.new__play a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  display: block;
  margin: 1rem 0;
}

.new__play p {
  color: white;
}

.new__img:hover .new__play {
  opacity: 1;
}

/* SHOWTIMES */

.showTimes .nav-tabs .nav-item.show .nav-link,
.showTimes .nav-tabs .nav-link.active {
  border: none;
}

.showTimes .nav-tabs .nav-link.active {
  color: #ec7532;
}

.showTimes .nav-tabs .nav-link {
  border: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.showTimes .nav-tabs .nav-link span {
  display: inline-block;
  padding: 15px 30px;
}

/* Tạo viền phía bên dưới mỗi bộ phim */
.showTimes__row {
  border-bottom: 1px solid #dee2e6;
}

/* Xóa border-bottom bộ phim cuối cùng */
#myTabContent .tab-pane .showTimes__row:last-child {
  border: none;
}

.showTimes__row img {
  border-radius: 10px;
}

.showTimes__row p:first-of-type {
  color: #ec7532;
  font-size: 14px;
  letter-spacing: 2px;
  /* Mọi thẻ p đều có margin mặc định */
  margin: 0;
}

.showTimes__row h3 {
  font-size: 24px;
  font-weight: 300;
  color: #101010;
  letter-spacing: 1px;
}

.showTimes__row a {
  font-size: 12px;
  letter-spacing: 4px;
  color: #ec7532;
  text-decoration: none;
  transition: 0.5s;
}

.showTimes__row a:hover {
  color: #101010;
}

/* Chỉnh button thời gian */
.showTimes__runingTimes {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #4a4a4a;
}

.showTimes__runingTimes button {
  color: #717171;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #d8d8d8;
}

.showTimes__runingTimes .showTimes__mins span:last-of-type {
  width: 33px;
  height: 33px;
  display: inline-block;
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  font-weight: 700;
}

/* COMING SOON */

.comingSoon {
  /* background-image: url(../img/slide-3.png); */
  background: #101010 url(../img/slide-3.png);
  background-size: cover;
  color: white;
}

.comingSoon__type {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;
}

.comingSoon h3 {
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 300;
}

.comingSoon__rating > i {
  color: #fbbd61;
}

.comingSoon p {
  margin: 1rem 0;
}

.comingSoon a {
  font-size: 12px;
  letter-spacing: 4px;
  color: #ec7532;
  text-decoration: none;
  transition: 0.5s;
}

.comingSoon a:hover {
  color: white;
}

/* design video */
.comingSoon__video {
  position: relative;
}

.comingSoon__video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 1px solid #ec7532;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.5s;
  color: white;
}

.comingSoon__video:hover i {
  /* Nhớ viết lại translate nếu ko sẽ bị hiểu nhầm translate: (0,0); */
  transform: translate(-50%, -50%) scale(0.9);
}

/* MOVIELIST */

.movieList {
  background-color: #101010;
}

/* Tạo màng đen khi hover vào ảnh phim */
.movieList__item {
  position: relative;
  border-radius: 10px;
  /* Thực chất là thẻ con ko hề bo tròn (bị border-radius ảnh hưởng)
  mà là do bị ẩn phần tràn ra ngoài thẻ cha bằng overflow: hiden; */
  overflow: hidden;
}

.movieList__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.6;
  transition: 0.5s;
}

.movieList__item:hover .movieList__overlay {
  opacity: 0;
}

/* CONTACT */
.contact__content {
  text-align: center;
}

.contact__content p:first-child {
  font-size: 23px;
  color: #4a4a4a;
  letter-spacing: 1px;
  font-weight: 300;
}

.contact__content a {
  font-size: 46px;
  color: #fbbd61;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #101010;
}

footer h3 {
  color: #ec7532;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

footer li {
  list-style: none;
}

footer a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  padding: 3px 0;
  transition: 0.5s;
}

footer a:hover {
  color: #fbbd61;
  text-decoration: none;
}

.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px 0;
}

.footer__copyright p {
  margin-bottom: 0;
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 991.98px) {
  /* HEADER */
  header .navbar-brand {
    max-width: 180px;
  }

  #navbarCyberMovie .navbar-nav .nav-link {
    font-size: 14px;
    padding: 20px 12px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 767.98px) {
  /* HEADER */
  header .navbar-toggler-icon {
    color: #fbbd61;
  }

  header .navbar-toggler-icon:focus {
    outline: none;
  }

  #navbarCyberMovie .navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }

  #navbarCyberMovie .navbar-nav .active .nav-link {
    color: #ec7532;
  }

  #navbarCyberMovie .navbar-nav .line.active::after {
    width: 0;
  }

  /* CAROUSEL */
  #movieCarousel .carousel-item .carousel-caption h2{
    font-size: 2.5rem;
  }

  /* SHOWTIMES */
  .showTimes .nav-tabs .nav-link{
    font-size: 16px;
  }

  .showTimes .nav-tabs .nav-link span{
    padding: 10px 20px;
  }

  .showTimes .nav-tabs .nav-item .nav-link.active::after{
    width: 0;
  }
}

  
